.about_container{
    padding: 3.5em 3%;
    
    .about_content{
        @include grid(2);
        padding: 0.9em 0;

        p{
            font-size: 1.1em;
            padding: 0.2em 0;
            line-height: 1.5;
        }

        .images{
            @include flex_center;

            img{
                width: 60%;
                height: 55vh;
                border-radius: 12px;
            }
        }
    }
}

@media screen and (width <=726px) {
    .about_container{
        .about_content{
            .images{
                display: none;
            }
        }
    }   
}